@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-montserrat: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    -font-montserrat: 'Montserrat', sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}