@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #092a44;
  --font-dm-sans: 'DM Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #092a44;
    --font-dm-sans: 'DM Sans', sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans);
}

/* .slick-next::before {
  color: #155dfc !important;
  font-size: 30px;
}

.slick-prev::before {
  color: #155dfc !important;
  font-size: 30px;
} */

/* .slick-list {
  overflow: hidden !important;
} */

 /* If you need smooth carousel for packagePrices hide below style */
.slick-slide:not(.slick-active) {
  visibility: hidden !important;
  pointer-events: none !important;
}